/** Defines the main styles for the website **/
/** Reset CSS Styles. These will be the default styles for the specified HTML elements **/
* {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-color: #f0f0f0;
}
li {
  list-style: none;
}
p {
  margin-bottom: 0;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
button:focus {
  box-shadow: none !important;
}
/** Define global variables and classes for the entire site **/
.flex {
  display: flex;
}
.space-around {
  justify-content: space-around;
}
.lightgreen {
  color: #9effb8;
}
.lightgreen.with-bg {
  color: #00d138;
  background-color: #9effb8;
}
.lightblue {
  color: #8aaee2;
}
.lightblue.with-bg {
  color: #204780;
  background-color: #8aaee2;
}
.magenta {
  color: #d46ce7;
}
.magenta.with-bg {
  color: #651374;
  background-color: #d46ce7;
}
.yellow {
  color: #e9f259;
}
.yellow.with-bg {
  color: #6f7609;
  background-color: #e9f259;
}
nav {
  background-color: white;
  border-bottom: solid 1px #E6E6E6;
  width: 100%;
}
.nav-margin {
  margin-left: 250px;
}
.navbar {
  flex-wrap: nowrap;
  height: 50px;
}
#search-bar {
  border: none;
  border-radius: 0;
}
#search-bar.nav-margin {
  margin-left: 0;
  margin-right: 290px;
}
#search-bar:active,
#search-bar:focus {
  box-shadow: none;
  background-color: #E6E6E6;
  transition: background-color 0.2s;
}
.compose-btn {
  z-index: 10;
  border-radius: 50%;
  margin: 0 auto;
}
.compose-btn.nav-margin {
  position: absolute;
  right: 260px;
}
.compose-btn:hover {
  background-color: #E6E6E6;
  transition: all 0.2s;
}
.content-section {
  width: 100%;
}
.sidenav {
  position: fixed;
  background-color: white;
  border-right: solid 1px #E6E6E6;
  width: 250px;
  height: 100vh;
  transition: width 0.3s;
  z-index: 100;
}
.sidenav-item {
  display: flex;
  justify-content: left;
  color: #6c757d;
  height: 50px;
  padding: 10px 15px;
}
.sidenav-item i {
  margin-top: 3px;
  flex-basis: 15%;
}
.sidenav-item:hover {
  cursor: pointer;
  background-color: #f7f7f7;
  transition: background-color 0.2s;
}
.sidenav-title {
  justify-content: center;
  border-bottom: solid 1px #E6E6E6;
}
.no-nav {
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}
#centerpanel {
  padding: 50px;
}
.center-margin {
  margin-left: 250px;
}
.center-header {
  margin-bottom: 50px;
}
.description {
  color: #6c757d;
}
.statpanel {
  background-color: white;
  border-radius: 1px;
  border: solid 1px #E6E6E6;
  padding: 20px;
}
.statpanel:hover {
  cursor: pointer;
  box-shadow: 0 5px 6px -6px #777;
  transition: box-shadow 0.2s;
}
.stat-title {
  color: #6c757d;
  margin-bottom: 15px;
}
.stat-body {
  display: flex;
  justify-content: space-between;
}
.stat-body i {
  font-size: 1.2em;
}
.stat-description {
  border-radius: 100px;
  padding: 0 10px;
}
.recent-reviews {
  margin-top: 20px;
  background-color: white;
  border-radius: 1px;
  border: solid 1px #E6E6E6;
  padding: 20px;
}
.recent-title {
  color: #6c757d;
  margin-bottom: 15px;
}
.reviews-list {
  width: 100%;
}
.review-panel {
  border-top: solid 1px #E6E6E6;
}
.review-stats {
  text-align: center;
  border-right: solid 1px #E6E6E6;
}
@media (max-width: 767px) {
  .review-stats {
    border-right: none;
  }
}
.review-classid {
  margin: 15px;
  font-size: 1.15em;
}
.review-timestamp {
  text-align: right;
  top: 10px;
  font-style: italic;
  font-weight: 100;
  font-size: 0.85em;
  color: #a6a6a6;
}
.review-content-header {
  margin-right: 0;
}
.review-text {
  padding: 10px 0;
  font-family: Montserrat;
}
.review-content-header {
  border-bottom: solid 1px #E6E6E6;
}
.review-datum {
  padding: 10px 15px;
}
.review-title {
  color: #6c757d;
}
.rating-stars {
  margin: 10px 0;
  text-align: center;
}
.star-row {
  font-size: 0.9em;
}
.star-title {
  font-size: 0.9em;
}
.star-filled {
  color: #e9f259;
}
.star-unfilled {
  color: #E6E6E6;
}
.overall-rating {
  margin-left: 30%;
  width: 40%;
}
.professor-list {
  padding: 50px;
}
.professor {
  padding: 50px;
}
.professor-info {
  border-radius: 1px;
  border: solid 1px #E6E6E6;
  background-color: white;
}
.professor-name {
  padding: 20px;
  color: #6c757d;
}
.professor-pic {
  width: 100%;
}
.professor-reviews {
  padding: 20px;
  border-radius: 1px;
  border: solid 1px #E6E6E6;
  background-color: white;
}
.class-pill {
  margin: 5px;
  white-space: nowrap;
  border-radius: 100px;
  padding: 0 10px;
}
.pill-container {
  flex-wrap: wrap;
}
.classes-header {
  padding: 10px;
  color: #6c757d;
}
