<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rate My Class</title>

</head>

<body>

    <div id="app">
        <!-- React components get rendered here -->
    </div>

    <!-- Load React Bundle -->
    <script src="/static/js/bundle.js" defer></script>

</body>

</html>