/** Define global variables and classes for the entire site **/

// Global Variables
@small-desktop-down: (max-width: 991px);
@tablet-down: (max-width: 767px);
@phone-down: (max-width: 480px);

@side-nav-color: #162c50;
@medium-grey: #E6E6E6;

.flex {
    display: flex;
}